parameters:


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


database:
	dsn: 'mysql:host=127.0.0.1;dbname=e-shop;port=8889'
	user:   root
	password:   root
	options:
		lazy: yes

services:
	- App\Model\UserManager
	- App\Forms\FormFactory
	router: App\RouterFactory::createRouter

extensions:
	cart: Kollarovic\ShoppingCart\DI\Extension

cart:
	columns:
		image: yes
		name: yes
		price: no
		quantity: yes
		totalWithoutVat: yes
		total: yes
		delete: yes
	price:
		currency: €
		decimals: 2
		decimalPoint: ','
		thousandsSep: ' '
		priceFormat: '{price} {currency}'
	buttons:
		next: Checkout
		continue: Continue shopping
		update: Update
	image:
		width: 80
		height: 80
